.discount__inner {
    display: flex;
    gap: 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    max-width: 1200px;
    width: 100%;
    padding: 65px 40px;
    font-size: 24px;
    align-items: center;
}

.discount__title {
    font-family: var(--font4);
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 16px;
}

.discount__button {
    margin-top: 32px;
    max-width: 123px;
}

.discount__img img {
    width: 100%;
}

.discount__bg-sneaker {
    position: absolute;
    right: 0;
    bottom: -65%;
}

.discount__bg-sneaker img {
    width: 100%;
}