.testimonials {
    margin-bottom: 140px;
}

.testimonials__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 15px;
}

.testimonials__title {
    font-family: "Gabriola", sans-serif;
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    color: var(--title-text);
    margin-bottom: 20px;
}

.testimonials__nav {
    display: flex;
    justify-self: end;
    gap: 30px;
}

.testimonials__next, .testimonials__prev {
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: 1.50px solid var(--accent-color);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;

    transition: all .4s;
}

.testimonials__next path, .testimonials__prev path {
    transition: all .4s;
}

.testimonials__next:hover, .testimonials__prev:hover {
    background: var(--accent-color);
}

.testimonials__next:hover path, .testimonials__prev:hover path {
    fill: var(--accent-bg);
}

.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
    border: 1.5px solid #E1D9E1;
    cursor: auto;
}

.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path {
    fill: #E1D9E1;
}

.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
    background: transparent;
}

.swiper-button-disabled.testimonials__prev:hover path,
.swiper-button-disabled.testimonials__next:hover path {
    fill: #E1D9E1;
}

.testimonials__slider {
    overflow: visible;
}

.testimonials__slide {
    background: var(--accent-bg);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    padding: 30px;
    margin-bottom: 42px;
    opacity: 0;
    height: auto;

    transition: all .4s;
}

.swiper-slide-prev.testimonials__slide {
    opacity: 0.5;
}
.swiper-slide-next.testimonials__slide {
    opacity: 0.5;
}

.testimonials__slide.swiper-slide {
    transform: scale(.9);
}
.swiper-slide-active.testimonials__slide {
    transform: scale(1);
    opacity: 1;
}

.testimonials__student {
    max-width: 165px;
    width: 100%;
    flex-shrink: 0;
}

.testimonials__student span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 5px;
}

.testimonials__img {
    border-radius: 20px;
    overflow: hidden;
}

.testimonials__img img {
    width: 100%;
    border-radius: 20px;
}

.testimonials__inst {
    color: #CEAAD0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.testimonials__quote {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.testimonials__quote span {
    display: block;
    font-family: "Gabriola", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 0.9;
    color: var(--title-text);
    margin-bottom: 10px;
}

.testimonials__scrollbar {
    background: var(--accent-bg);
    height: 7px;
    position: static;
}

.swiper-scrollbar-drag {
    background: var(--accent-color);
}

.swiper-horizontal>.swiper-scrollbar {
    width: 100%;
    position: static;
}