body {
    background: #424141;
}
p {
    font-size: 55px;
    max-width: 50%;
    color: #fff;
}

.square {
    min-height: 100px;
    background: #ffffff;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    right: 50px;
    bottom: 100px;
}

.circle {
    background: red;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: relative;
    bottom: 50px;
    left: 100px;
    
}